USE [master]
GO
/****** Object:  Database [InventoryDB]    Script Date: 19/03/2025 8:05:27 CH ******/
CREATE DATABASE [InventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryDB]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 19/03/2025 8:05:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[product_variant_detail_id] [varchar](255) NOT NULL,
	[reserved_quantity] [int] NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_logs]    Script Date: 19/03/2025 8:05:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_logs](
	[id] [varchar](255) NOT NULL,
	[change_quantity] [int] NOT NULL,
	[change_reason] [varchar](255) NULL,
	[change_type] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[order_id] [varchar](255) NULL,
	[product_variant_detail_id] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[inventory_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[inventory] ([id], [created_at], [product_variant_detail_id], [reserved_quantity], [stock_quantity], [updated_at]) VALUES (N'1e6d8f1e-b7d1-4cb7-88c5-1a4c671c5f0a', CAST(N'2025-03-13T20:50:28.5833330' AS DateTime2), N'05464512-f580-426a-8800-bc7c38683c62', 12, 9988, CAST(N'2025-03-17T21:19:25.5926920' AS DateTime2))
INSERT [dbo].[inventory] ([id], [created_at], [product_variant_detail_id], [reserved_quantity], [stock_quantity], [updated_at]) VALUES (N'2f7e9c4b-31b8-4fa5-9b9a-d58a1d8d26e9', CAST(N'2025-03-13T20:50:28.5833330' AS DateTime2), N'05e5a662-a70e-4b41-a3e8-89dc27c1ec13', 42, 9992, CAST(N'2025-03-17T21:19:25.6216530' AS DateTime2))
GO
INSERT [dbo].[inventory_logs] ([id], [change_quantity], [change_reason], [change_type], [created_at], [order_id], [product_variant_detail_id], [updated_at], [inventory_id]) VALUES (N'0a9d7fdc-5881-4b46-b5ae-9f78ecfc93a6', -3, N'Reserved for order: f2d082ef-5abd-4cdf-bc2c-e0f7830a84cd', N'RESERVED', CAST(N'2025-03-15T11:43:24.1273650' AS DateTime2), N'f2d082ef-5abd-4cdf-bc2c-e0f7830a84cd', N'05464512-f580-426a-8800-bc7c38683c62', CAST(N'2025-03-15T11:43:24.1273650' AS DateTime2), N'1e6d8f1e-b7d1-4cb7-88c5-1a4c671c5f0a')
INSERT [dbo].[inventory_logs] ([id], [change_quantity], [change_reason], [change_type], [created_at], [order_id], [product_variant_detail_id], [updated_at], [inventory_id]) VALUES (N'0cc3b1fb-db2f-4d31-9353-6bdc813e5107', -3, N'Thanh toán thành công', N'STOCK_OUT', CAST(N'2025-03-16T10:51:19.0712430' AS DateTime2), N'45f69b24-4460-4d91-872d-4bc73810ef9d', N'05464512-f580-426a-8800-bc7c38683c62', CAST(N'2025-03-16T10:51:19.0712430' AS DateTime2), N'1e6d8f1e-b7d1-4cb7-88c5-1a4c671c5f0a')
INSERT [dbo].[inventory_logs] ([id], [change_quantity], [change_reason], [change_type], [created_at], [order_id], [product_variant_detail_id], [updated_at], [inventory_id]) VALUES (N'10fe4dd3-ed75-4d5b-93eb-edfb41a81384', -2, N'Reserved for order: 6bbd4a37-8d5e-4dac-b5c4-9209901709af', N'RESERVED', CAST(N'2025-03-13T23:51:05.1599950' AS DateTime2), N'6bbd4a37-8d5e-4dac-b5c4-9209901709af', N'05e5a662-a70e-4b41-a3e8-89dc27c1ec13', CAST(N'2025-03-13T23:51:05.1599950' AS DateTime2), N'2f7e9c4b-31b8-4fa5-9b9a-d58a1d8d26e9')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKfcte6nimq9hud9ldobgfrw23q]    Script Date: 19/03/2025 8:05:28 CH ******/
ALTER TABLE [dbo].[inventory] ADD  CONSTRAINT [UKfcte6nimq9hud9ldobgfrw23q] UNIQUE NONCLUSTERED 
(
	[product_variant_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[inventory_logs]  WITH CHECK ADD  CONSTRAINT [FKoxx1dna7trdcsqrfoj41i3jqq] FOREIGN KEY([inventory_id])
REFERENCES [dbo].[inventory] ([id])
GO
ALTER TABLE [dbo].[inventory_logs] CHECK CONSTRAINT [FKoxx1dna7trdcsqrfoj41i3jqq]
GO
ALTER TABLE [dbo].[inventory_logs]  WITH CHECK ADD CHECK  (([change_type]='SOLD' OR [change_type]='ADJUSTMENT' OR [change_type]='ROLLBACK' OR [change_type]='RESERVED' OR [change_type]='STOCK_IN' OR [change_type]='STOCK_OUT'))
GO
USE [master]
GO
