USE [master]
GO
/****** Object:  Database [OrderDB]    Script Date: 25/04/2025 10:54:41 CH ******/
CREATE DATABASE [OrderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrderDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OrderDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrderDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OrderDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrderDB]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 25/04/2025 10:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [varchar](255) NOT NULL,
	[address] [varchar](255) NULL,
	[created_at] [datetime2](6) NULL,
	[customer_id] [varchar](255) NOT NULL,
	[order_status] [varchar](255) NOT NULL,
	[payment_method] [varchar](255) NULL,
	[payment_status] [varchar](50) NULL,
	[system_user_id] [varchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
	[payment_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_details]    Script Date: 25/04/2025 10:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_details](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[detail_status] [varchar](255) NOT NULL,
	[price] [float] NULL,
	[product_variant_detail_id] [varchar](255) NOT NULL,
	[quantity] [int] NULL,
	[updated_at] [datetime2](6) NULL,
	[order_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_actions]    Script Date: 25/04/2025 10:54:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_actions](
	[id] [varchar](255) NOT NULL,
	[action_details] [varchar](255) NULL,
	[action_type] [varchar](255) NULL,
	[created_at] [datetime2](6) NULL,
	[customer_id] [varchar](255) NULL,
	[order_id] [varchar](255) NULL,
	[product_id] [varchar](255) NULL,
	[search_query] [varchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[orders] ([id], [address], [created_at], [customer_id], [order_status], [payment_method], [payment_status], [system_user_id], [updated_at], [payment_id]) VALUES (N'0246646d-ec53-43b6-85f7-0b34916771c4', N'Binh Tan1', CAST(N'2025-03-16T11:01:32.5009700' AS DateTime2), N'9a54db74-521e-4870-81aa-56925fceb6b0', N'PROCESSING', N'VNPAY', N'PAID', N'046a91e9-dfc3-4715-934d-53c427e1f992', CAST(N'2025-03-16T11:02:06.6259340' AS DateTime2), NULL)
INSERT [dbo].[orders] ([id], [address], [created_at], [customer_id], [order_status], [payment_method], [payment_status], [system_user_id], [updated_at], [payment_id]) VALUES (N'039536e8-4d3e-463c-ac8c-c10c5c218f7a', N'Binh Tan1', CAST(N'2025-03-13T23:44:36.1033350' AS DateTime2), N'008b425f-fcbe-4b3a-952c-555835a4dc2c', N'PROCESSING', N'VNPAY', N'PAID', N'046a91e9-dfc3-4715-934d-53c427e1f992', CAST(N'2025-03-13T23:48:01.6733360' AS DateTime2), NULL)
INSERT [dbo].[orders] ([id], [address], [created_at], [customer_id], [order_status], [payment_method], [payment_status], [system_user_id], [updated_at], [payment_id]) VALUES (N'0b03bc28-e60e-4e47-a8dd-5384a3971bf4', N'Binh Tan1', CAST(N'2025-03-15T11:47:07.0757200' AS DateTime2), N'9a54db74-521e-4870-81aa-56925fceb6b0', N'PROCESSING', N'VNPAY', N'PAID', N'046a91e9-dfc3-4715-934d-53c427e1f992', CAST(N'2025-03-15T11:47:39.3471400' AS DateTime2), NULL)
GO
INSERT [dbo].[orders_details] ([id], [created_at], [detail_status], [price], [product_variant_detail_id], [quantity], [updated_at], [order_id]) VALUES (N'00b04697-2e37-449a-8f58-e4bc31ffb0b2', CAST(N'2025-03-15T09:43:15.4315780' AS DateTime2), N'PENDING', 22470000, N'05464512-f580-426a-8800-bc7c38683c62', 3, CAST(N'2025-03-15T09:43:15.4315780' AS DateTime2), N'9298fa44-78fb-4cbd-80d7-5ff92df1e3df')
INSERT [dbo].[orders_details] ([id], [created_at], [detail_status], [price], [product_variant_detail_id], [quantity], [updated_at], [order_id]) VALUES (N'01dea6e4-a755-4c34-9f74-2c37f6646669', CAST(N'2025-03-15T09:55:35.6425970' AS DateTime2), N'PENDING', 22470000, N'05464512-f580-426a-8800-bc7c38683c62', 3, CAST(N'2025-03-15T09:55:35.6431940' AS DateTime2), N'626c17c1-3407-43a1-b742-352c90686402')
INSERT [dbo].[orders_details] ([id], [created_at], [detail_status], [price], [product_variant_detail_id], [quantity], [updated_at], [order_id]) VALUES (N'02a87893-93cc-4491-9f27-d4f38db46728', CAST(N'2025-03-15T11:43:24.2667510' AS DateTime2), N'PENDING', 22470000, N'05464512-f580-426a-8800-bc7c38683c62', 3, CAST(N'2025-03-15T11:43:24.2667510' AS DateTime2), N'f2d082ef-5abd-4cdf-bc2c-e0f7830a84cd')
GO
INSERT [dbo].[user_actions] ([id], [action_details], [action_type], [created_at], [customer_id], [order_id], [product_id], [search_query], [updated_at]) VALUES (N'0027d9d5-b453-44c5-91c2-b3bfbb0375e4', N'Clicked on product ID c9de2a34-0b4a-4df5-9ac6-b5e3cde1ff95', N'CLICK', CAST(N'2025-02-23T13:14:46.6382810' AS DateTime2), N'ba21e63f-c8cc-41c1-aa7c-bde769860887', N'3c587873-e1a5-4b54-afbb-f2dd5abf0c04', N'c9de2a34-0b4a-4df5-9ac6-b5e3cde1ff95', NULL, NULL)
INSERT [dbo].[user_actions] ([id], [action_details], [action_type], [created_at], [customer_id], [order_id], [product_id], [search_query], [updated_at]) VALUES (N'00642cdc-8c72-424d-bbff-3ccb81f08e88', N'Purchased order ID None', N'PURCHASE', CAST(N'2025-01-10T00:58:46.6446510' AS DateTime2), N'03b95c81-3f2f-4885-8506-2cdb991409a0', NULL, N'77381ee5-6c1a-41a6-becf-d2def8e197e3', NULL, NULL)
INSERT [dbo].[user_actions] ([id], [action_details], [action_type], [created_at], [customer_id], [order_id], [product_id], [search_query], [updated_at]) VALUES (N'00c30f37-ba68-4a1a-9bfc-c6b1ef2983ee', N'Clicked on product ID 828a961c-c4aa-405d-bc9b-c9aa01cd473a', N'CLICK', CAST(N'2024-12-05T00:40:46.6505250' AS DateTime2), N'1baac045-077b-4291-824c-75b2c024aa7b', NULL, N'828a961c-c4aa-405d-bc9b-c9aa01cd473a', NULL, NULL)
GO
ALTER TABLE [dbo].[orders_details]  WITH CHECK ADD  CONSTRAINT [FK5o977kj2vptwo70fu7w7so9fe] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orders_details] CHECK CONSTRAINT [FK5o977kj2vptwo70fu7w7so9fe]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([order_status]='CONFIRMED' OR [order_status]='COMPLETED' OR [order_status]='CANCELLED' OR [order_status]='PROCESSING' OR [order_status]='NEW'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([payment_status]='WAITING' OR [payment_status]='CANCELLED' OR [payment_status]='REFUNDED' OR [payment_status]='FAILED' OR [payment_status]='PAID' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[orders_details]  WITH CHECK ADD CHECK  (([detail_status]='REFUNDED' OR [detail_status]='EXCHANGE_REQUESTED' OR [detail_status]='RETURNED' OR [detail_status]='OUT_OF_STOCK' OR [detail_status]='CANCELLED' OR [detail_status]='DELIVERED' OR [detail_status]='SHIPPED' OR [detail_status]='PROCESSING' OR [detail_status]='PENDING' OR [detail_status]='IN_STOCK'))
GO
ALTER TABLE [dbo].[user_actions]  WITH CHECK ADD CHECK  (([action_type]='SEARCH' OR [action_type]='VIEW' OR [action_type]='ADD_TO_CART' OR [action_type]='CLICK' OR [action_type]='PURCHASE'))
GO
USE [master]
GO
