USE [master]
GO
/****** Object:  Database [ProductDB]    Script Date: 19/03/2025 8:08:51 CH ******/
CREATE DATABASE [ProductDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProductDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProductDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductDB]
GO
/****** Object:  Table [dbo].[attribute_values]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attribute_values](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[value] [varchar](255) NULL,
	[attribute_id] [varchar](255) NULL,
	[product_variant_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attributes]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attributes](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[name] [varchar](255) NOT NULL,
	[type] [varchar](50) NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[name] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[img_product_feedback]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[img_product_feedback](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[description] [text] NULL,
	[image_path] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[product_feedback_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[memories]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memories](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[name] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_feedbacks]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_feedbacks](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[customer_id] [varchar](255) NULL,
	[feedback_rating] [int] NULL,
	[feedback_text] [text] NULL,
	[updated_at] [datetime2](6) NULL,
	[product_variant_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_variant_details]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_variant_details](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[sale] [float] NULL,
	[status] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[views_count] [int] NULL,
	[color_id] [varchar](255) NULL,
	[memory_id] [varchar](255) NULL,
	[product_variant_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[trademark_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_images]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_images](
	[id] [varchar](255) NOT NULL,
	[avatar] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[path] [varchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
	[product_variant_detail_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_variants]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_variants](
	[id] [varchar](255) NOT NULL,
	[avatar] [varchar](255) NULL,
	[content] [text] NULL,
	[created_at] [datetime2](6) NULL,
	[description] [text] NULL,
	[featured] [bit] NULL,
	[name] [varchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[product_id] [varchar](255) NULL,
	[usage_category_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trademarks]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trademarks](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[name] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usage_categories]    Script Date: 19/03/2025 8:08:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usage_categories](
	[id] [varchar](255) NOT NULL,
	[avatar] [varchar](500) NULL,
	[created_at] [datetime2](6) NULL,
	[description] [text] NULL,
	[name] [varchar](255) NOT NULL,
	[status] [varchar](50) NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[attribute_values] ([id], [created_at], [updated_at], [value], [attribute_id], [product_variant_id]) VALUES (N'0141a15e-ad9d-4154-83a2-d5785f3449ee', CAST(N'2024-11-30T11:28:09.3834860' AS DateTime2), CAST(N'2024-11-30T11:28:09.3834860' AS DateTime2), N' 3900 mAh', N'0762b706-9937-4e20-b27c-52cdbef448de', N'837ad3fa-8a4c-4f2f-8cd2-14cf5ee6bc6f')
INSERT [dbo].[attribute_values] ([id], [created_at], [updated_at], [value], [attribute_id], [product_variant_id]) VALUES (N'01bc5891-af21-4c20-bdc6-a22e824a48e2', CAST(N'2024-11-30T11:14:58.3255950' AS DateTime2), CAST(N'2024-11-30T11:14:58.3255950' AS DateTime2), N'GPS, Glonass, Beidou, Galileo, QZSS', N'2d1cdced-6e3e-4a9b-8d9d-6168ac876415', N'ff92bbe8-57df-40c3-b059-ccc89eddd4c9')
INSERT [dbo].[attribute_values] ([id], [created_at], [updated_at], [value], [attribute_id], [product_variant_id]) VALUES (N'0753b545-38a5-44c7-be29-25325aff93c0', CAST(N'2024-11-30T11:16:32.3090870' AS DateTime2), CAST(N'2024-11-30T11:16:32.3090870' AS DateTime2), N'32MP', N'd1ba1fed-76b7-482b-8dbf-4c084daa3c46', N'b54e95ec-055f-483a-a414-72e23f63d5fe')
GO
INSERT [dbo].[attributes] ([id], [created_at], [name], [type], [updated_at]) VALUES (N'00543430-2826-4f3f-a0d4-2785b2c98d2a', CAST(N'2024-11-16T20:32:14.1490380' AS DateTime2), N'GPU', N'common', CAST(N'2024-11-16T20:32:14.1490380' AS DateTime2))
INSERT [dbo].[attributes] ([id], [created_at], [name], [type], [updated_at]) VALUES (N'0762b706-9937-4e20-b27c-52cdbef448de', CAST(N'2024-11-16T19:10:51.8431470' AS DateTime2), N'Batery', N'Battery and Charger', CAST(N'2024-11-16T19:10:51.8431470' AS DateTime2))
INSERT [dbo].[attributes] ([id], [created_at], [name], [type], [updated_at]) VALUES (N'08759070-4bef-4e1b-8081-b7675af4a275', CAST(N'2024-11-16T19:10:11.0942170' AS DateTime2), N'Chipset', N'common', CAST(N'2024-11-16T19:10:11.0942170' AS DateTime2))
GO
INSERT [dbo].[colors] ([id], [created_at], [name], [updated_at]) VALUES (N'12346b1b-69bf-4331-8193-e1d86c824225', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2), N'Purple', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2))
INSERT [dbo].[colors] ([id], [created_at], [name], [updated_at]) VALUES (N'21236b1b-69bf-4331-8193-e1d86c824225', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2), N'Grey', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2))
INSERT [dbo].[colors] ([id], [created_at], [name], [updated_at]) VALUES (N'28886b1b-69bf-4331-8193-e1d86c824225', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2), N'Green', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2))
GO
INSERT [dbo].[img_product_feedback] ([id], [created_at], [description], [image_path], [updated_at], [product_feedback_id]) VALUES (N'034bedcb-4d0c-4af3-9efd-a652f8ef4d4e', CAST(N'2024-11-30T22:39:41.4740470' AS DateTime2), NULL, N'productfeedback/1732981181406-1732718471714-dien-thoai-sony-xperia-10-vi.png', CAST(N'2024-11-30T22:39:41.4740470' AS DateTime2), N'fa792c1e-531a-431f-b64f-4827a3d82aa3')
INSERT [dbo].[img_product_feedback] ([id], [created_at], [description], [image_path], [updated_at], [product_feedback_id]) VALUES (N'1307b045-c98e-42ae-9d3a-ad276ca6cf36', CAST(N'2024-11-30T22:39:23.7698010' AS DateTime2), NULL, N'productfeedback/1732981163687-1732717234639-3.png', CAST(N'2024-11-30T22:39:23.7698010' AS DateTime2), N'e92832ee-d733-4373-8589-d74da2a3d018')
INSERT [dbo].[img_product_feedback] ([id], [created_at], [description], [image_path], [updated_at], [product_feedback_id]) VALUES (N'16268cbe-02c1-49af-8e0a-73446aac70ae', CAST(N'2024-11-30T22:39:41.4750500' AS DateTime2), NULL, N'productfeedback/1732981181407-1732718880671-dien-thoai-sony-xperia-10-vi-blue.png', CAST(N'2024-11-30T22:39:41.4750500' AS DateTime2), N'fa792c1e-531a-431f-b64f-4827a3d82aa3')
GO
INSERT [dbo].[memories] ([id], [created_at], [name], [updated_at]) VALUES (N'09189503-497e-41f8-a8a5-a4336eb10d35', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2), N'24GB', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2))
INSERT [dbo].[memories] ([id], [created_at], [name], [updated_at]) VALUES (N'12346b1b-69bf-4331-8193-e1d86c824125', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2), N'16GB', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2))
INSERT [dbo].[memories] ([id], [created_at], [name], [updated_at]) VALUES (N'27666b1b-69bf-4331-8193-e1d86c824125', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2), N'12GB', CAST(N'2024-11-16T20:47:34.5144650' AS DateTime2))
GO
INSERT [dbo].[product_feedbacks] ([id], [created_at], [customer_id], [feedback_rating], [feedback_text], [updated_at], [product_variant_id]) VALUES (N'8483c38e-e596-47f9-a2cf-142e2c663819', CAST(N'2024-11-30T20:56:05.4621930' AS DateTime2), N'2a965310-71c4-4d25-a257-257edd815e3a', NULL, N'12321312', CAST(N'2024-11-30T20:56:05.4621930' AS DateTime2), N'ff92bbe8-57df-40c3-b059-ccc89eddd4c9')
INSERT [dbo].[product_feedbacks] ([id], [created_at], [customer_id], [feedback_rating], [feedback_text], [updated_at], [product_variant_id]) VALUES (N'e92832ee-d733-4373-8589-d74da2a3d018', CAST(N'2024-11-30T22:39:23.7592670' AS DateTime2), N'2a965310-71c4-4d25-a257-257edd815e3a', NULL, N'2123132', CAST(N'2024-11-30T22:39:23.7592670' AS DateTime2), N'e5568468-9540-493f-acaa-2fab1a8253c8')
INSERT [dbo].[product_feedbacks] ([id], [created_at], [customer_id], [feedback_rating], [feedback_text], [updated_at], [product_variant_id]) VALUES (N'fa792c1e-531a-431f-b64f-4827a3d82aa3', CAST(N'2024-11-30T22:39:41.4667870' AS DateTime2), N'2a965310-71c4-4d25-a257-257edd815e3a', NULL, N'4355', CAST(N'2024-11-30T22:39:41.4667870' AS DateTime2), N'e5568468-9540-493f-acaa-2fab1a8253c8')
GO
INSERT [dbo].[product_variant_details] ([id], [created_at], [price], [quantity], [sale], [status], [updated_at], [views_count], [color_id], [memory_id], [product_variant_id]) VALUES (N'05464512-f580-426a-8800-bc7c38683c62', CAST(N'2024-11-30T10:36:41.7281800' AS DateTime2), 7490000, 108, 0, N'AVAILABLE', CAST(N'2024-12-01T14:27:30.7836740' AS DateTime2), 0, N'B605E0F0-A442-479C-ACBD-8572403197A3', N'98712b1b-69bf-4331-8193-e1d86c824125', N'e5568468-9540-493f-acaa-2fab1a8253c8')
INSERT [dbo].[product_variant_details] ([id], [created_at], [price], [quantity], [sale], [status], [updated_at], [views_count], [color_id], [memory_id], [product_variant_id]) VALUES (N'05e5a662-a70e-4b41-a3e8-89dc27c1ec13', CAST(N'2024-11-30T10:45:12.4485610' AS DateTime2), 9090000, 784, 0.1, N'AVAILABLE', CAST(N'2024-11-30T20:57:49.9158360' AS DateTime2), 0, N'5E767C54-4FF1-4CDF-B5F9-0D9D8F6702FE', N'98712b1b-69bf-4331-8193-e1d86c824125', N'ff92bbe8-57df-40c3-b059-ccc89eddd4c9')
INSERT [dbo].[product_variant_details] ([id], [created_at], [price], [quantity], [sale], [status], [updated_at], [views_count], [color_id], [memory_id], [product_variant_id]) VALUES (N'1185b857-1df7-40e2-b311-fa39c98d2661', CAST(N'2024-11-30T11:04:29.9494260' AS DateTime2), 8990000, 64, 0, N'AVAILABLE', CAST(N'2024-11-30T11:04:29.9494260' AS DateTime2), 0, N'405589B7-D2CC-4E43-87B3-82C8FE7225E7', N'09189503-497e-41f8-a8a5-a4336eb10d35', N'4efac369-626b-4b03-a73b-1718966aca13')
GO
INSERT [dbo].[products] ([id], [created_at], [name], [updated_at], [trademark_id]) VALUES (N'11dda71a-ec77-4d72-b6d4-1b869f727a9e', CAST(N'2024-11-30T10:45:12.3157820' AS DateTime2), N'Samsung Galaxy A55 5G2', CAST(N'2024-11-30T21:03:26.5991410' AS DateTime2), N'7b8c08a0-a860-46ff-bdf1-952a32d973ea')
INSERT [dbo].[products] ([id], [created_at], [name], [updated_at], [trademark_id]) VALUES (N'77381ee5-6c1a-41a6-becf-d2def8e197e3', CAST(N'2024-11-30T10:26:50.2444000' AS DateTime2), N'OPPO Reno12', CAST(N'2024-11-30T10:26:50.2444000' AS DateTime2), N'9be493a9-9f25-4861-a8f9-7a1c7e84eb3e')
INSERT [dbo].[products] ([id], [created_at], [name], [updated_at], [trademark_id]) VALUES (N'828a961c-c4aa-405d-bc9b-c9aa01cd473a', CAST(N'2024-11-30T10:54:48.8106200' AS DateTime2), N'Samsung Galaxy S23 8GB', CAST(N'2024-11-30T11:22:32.3604180' AS DateTime2), N'7b8c08a0-a860-46ff-bdf1-952a32d973ea')
GO
INSERT [dbo].[products_images] ([id], [avatar], [created_at], [path], [updated_at], [product_variant_detail_id]) VALUES (N'013a2a2b-7edf-48eb-92a5-2ac3dc6a53db', 0, CAST(N'2024-11-30T11:04:30.1105200' AS DateTime2), N'products/Sony_Xperia_10VI/28886b1b-69bf-4331-8193-e1d86c824125/B605E0F0-A442-479C-ACBD-8572403197A3/1732939470049-2.png', CAST(N'2024-11-30T11:04:30.1105200' AS DateTime2), N'7c6dccb2-feba-4aad-8f7c-7ac12ee9cb93')
INSERT [dbo].[products_images] ([id], [avatar], [created_at], [path], [updated_at], [product_variant_detail_id]) VALUES (N'01d44da4-23fd-4046-ac38-3986cf8eab7f', 0, CAST(N'2024-11-30T10:45:12.4345750' AS DateTime2), N'products/Samsung_Galaxy_A55_5G_8GB/98712b1b-69bf-4331-8193-e1d86c824125/B605E0F0-A442-479C-ACBD-8572403197A3/1732938312382-sm-a556_galaxy_a55_awesome_iceblue_ui.png', CAST(N'2024-11-30T10:45:12.4345750' AS DateTime2), N'261b1a11-6cbb-443c-9797-06fa3470cb41')
INSERT [dbo].[products_images] ([id], [avatar], [created_at], [path], [updated_at], [product_variant_detail_id]) VALUES (N'034c4d19-82ad-4cc5-a5c4-db56249f9054', 0, CAST(N'2024-11-30T11:04:29.8951870' AS DateTime2), N'products/Sony_Xperia_1VI/09189503-497e-41f8-a8a5-a4336eb10d35/21236b1b-69bf-4331-8193-e1d86c824225/1732939469867-image_1184_2.png', CAST(N'2024-11-30T11:04:29.8951870' AS DateTime2), N'b52b36c0-1920-4a49-85cb-70e8f45ce3d1')
GO
INSERT [dbo].[products_variants] ([id], [avatar], [content], [created_at], [description], [featured], [name], [status], [updated_at], [product_id], [usage_category_id]) VALUES (N'38246dee-2859-4ef3-883d-da997ecdf7ac', N'products/OPPO_Reno12_5G/1732937210260-text_ng_n_5__7_70.png', N'Noi dung OPPO Reno12 5G', CAST(N'2024-11-30T10:26:50.2773860' AS DateTime2), N'Mo ta OPPO Reno12 5G', 1, N'OPPO Reno12 5G', N'AVAILABLE', CAST(N'2024-11-30T10:26:50.2773860' AS DateTime2), N'77381ee5-6c1a-41a6-becf-d2def8e197e3', N'584af7f3-91f7-4a8b-9e15-d0cdba518eb9')
INSERT [dbo].[products_variants] ([id], [avatar], [content], [created_at], [description], [featured], [name], [status], [updated_at], [product_id], [usage_category_id]) VALUES (N'4efac369-626b-4b03-a73b-1718966aca13', N'products/Sony_Xperia_1VI/1732939469701-Sony_Xperia_1VI.png', N'Sony Xperia 1VI', CAST(N'2024-11-30T11:04:29.7206070' AS DateTime2), N'Sony Xperia 1VI', 1, N'Sony Xperia 1VI', N'AVAILABLE', CAST(N'2024-11-30T11:04:29.7206070' AS DateTime2), N'9bffb182-abaa-43bf-bb86-4d99d2dfa5ed', N'1d054a18-90d4-4fc7-9d1c-1e6eaa3420cd')
INSERT [dbo].[products_variants] ([id], [avatar], [content], [created_at], [description], [featured], [name], [status], [updated_at], [product_id], [usage_category_id]) VALUES (N'837ad3fa-8a4c-4f2f-8cd2-14cf5ee6bc6f', N'products/Samsung_Galaxy_S23_Ultra_5G_8GB/1732938888824-s23-ultra-den.png', N'Samsung Galaxy S23 5G 8GB', CAST(N'2024-11-30T10:54:48.8406240' AS DateTime2), N'Samsung Galaxy S23 5G 8GB', 1, N'Samsung Galaxy S23 5G 8GB 1', N'AVAILABLE', CAST(N'2024-11-30T21:02:43.0308600' AS DateTime2), N'828a961c-c4aa-405d-bc9b-c9aa01cd473a', N'249f5d64-8e4d-45b2-8c4c-0c7aa82f61a8')
GO
INSERT [dbo].[trademarks] ([id], [created_at], [name], [updated_at]) VALUES (N'7b8c08a0-a860-46ff-bdf1-952a32d973ea', CAST(N'2024-11-27T23:27:47.8537870' AS DateTime2), N'Samsung', CAST(N'2024-11-27T23:27:47.8547870' AS DateTime2))
INSERT [dbo].[trademarks] ([id], [created_at], [name], [updated_at]) VALUES (N'9be493a9-9f25-4861-a8f9-7a1c7e84eb3e', CAST(N'2024-11-27T23:29:03.7934800' AS DateTime2), N'OPPO', CAST(N'2024-11-27T23:29:03.7934800' AS DateTime2))
INSERT [dbo].[trademarks] ([id], [created_at], [name], [updated_at]) VALUES (N'c1021e5c-c2d9-424a-9b15-eb350d3f21a2', CAST(N'2024-11-27T23:29:25.0002750' AS DateTime2), N'Sony', CAST(N'2024-11-27T23:29:25.0002750' AS DateTime2))
GO
INSERT [dbo].[usage_categories] ([id], [avatar], [created_at], [description], [name], [status], [updated_at]) VALUES (N'1d054a18-90d4-4fc7-9d1c-1e6eaa3420cd', NULL, CAST(N'2024-11-21T22:37:44.6133330' AS DateTime2), NULL, N'Gaming', NULL, CAST(N'2024-11-21T22:37:44.6133330' AS DateTime2))
INSERT [dbo].[usage_categories] ([id], [avatar], [created_at], [description], [name], [status], [updated_at]) VALUES (N'249f5d64-8e4d-45b2-8c4c-0c7aa82f61a8', NULL, CAST(N'2024-11-21T22:37:44.6133330' AS DateTime2), NULL, N'Photography', NULL, CAST(N'2024-11-21T22:37:44.6133330' AS DateTime2))
INSERT [dbo].[usage_categories] ([id], [avatar], [created_at], [description], [name], [status], [updated_at]) VALUES (N'26006931-5b91-4d36-bcb6-bcc03e9781e1', NULL, CAST(N'2024-11-27T23:32:04.9669550' AS DateTime2), NULL, N'High performance', NULL, CAST(N'2024-11-27T23:32:04.9669550' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKkd5udnujn1cptk7kc5ri53foe]    Script Date: 19/03/2025 8:08:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKkd5udnujn1cptk7kc5ri53foe] ON [dbo].[product_variant_details]
(
	[product_variant_id] ASC,
	[color_id] ASC,
	[memory_id] ASC
)
WHERE ([product_variant_id] IS NOT NULL AND [color_id] IS NOT NULL AND [memory_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[attribute_values]  WITH CHECK ADD  CONSTRAINT [FKkaq0fvnivyrmqu857uy04xgmm] FOREIGN KEY([attribute_id])
REFERENCES [dbo].[attributes] ([id])
GO
ALTER TABLE [dbo].[attribute_values] CHECK CONSTRAINT [FKkaq0fvnivyrmqu857uy04xgmm]
GO
ALTER TABLE [dbo].[attribute_values]  WITH CHECK ADD  CONSTRAINT [FKkpqhnoyferyutkf5tm191lfne] FOREIGN KEY([product_variant_id])
REFERENCES [dbo].[products_variants] ([id])
GO
ALTER TABLE [dbo].[attribute_values] CHECK CONSTRAINT [FKkpqhnoyferyutkf5tm191lfne]
GO
ALTER TABLE [dbo].[img_product_feedback]  WITH CHECK ADD  CONSTRAINT [FKlsygbm3u7hehptspnu2gtvvn9] FOREIGN KEY([product_feedback_id])
REFERENCES [dbo].[product_feedbacks] ([id])
GO
ALTER TABLE [dbo].[img_product_feedback] CHECK CONSTRAINT [FKlsygbm3u7hehptspnu2gtvvn9]
GO
ALTER TABLE [dbo].[product_feedbacks]  WITH CHECK ADD  CONSTRAINT [FKa3c1qdndyoxlndnl6rxkrq92q] FOREIGN KEY([product_variant_id])
REFERENCES [dbo].[products_variants] ([id])
GO
ALTER TABLE [dbo].[product_feedbacks] CHECK CONSTRAINT [FKa3c1qdndyoxlndnl6rxkrq92q]
GO
ALTER TABLE [dbo].[product_variant_details]  WITH CHECK ADD  CONSTRAINT [FK4nhftb4ylp2fe3t8ce799e572] FOREIGN KEY([color_id])
REFERENCES [dbo].[colors] ([id])
GO
ALTER TABLE [dbo].[product_variant_details] CHECK CONSTRAINT [FK4nhftb4ylp2fe3t8ce799e572]
GO
ALTER TABLE [dbo].[product_variant_details]  WITH CHECK ADD  CONSTRAINT [FKb5a5wf18h29bmb0ld7kxmo1io] FOREIGN KEY([product_variant_id])
REFERENCES [dbo].[products_variants] ([id])
GO
ALTER TABLE [dbo].[product_variant_details] CHECK CONSTRAINT [FKb5a5wf18h29bmb0ld7kxmo1io]
GO
ALTER TABLE [dbo].[product_variant_details]  WITH CHECK ADD  CONSTRAINT [FKoermtydpwq70ciwct6j6eixo4] FOREIGN KEY([memory_id])
REFERENCES [dbo].[memories] ([id])
GO
ALTER TABLE [dbo].[product_variant_details] CHECK CONSTRAINT [FKoermtydpwq70ciwct6j6eixo4]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKg6f14egjqtb112jhy85qy2jjy] FOREIGN KEY([trademark_id])
REFERENCES [dbo].[trademarks] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKg6f14egjqtb112jhy85qy2jjy]
GO
ALTER TABLE [dbo].[products_images]  WITH CHECK ADD  CONSTRAINT [FKgar52bmeaf2c9mru6tdit9kik] FOREIGN KEY([product_variant_detail_id])
REFERENCES [dbo].[product_variant_details] ([id])
GO
ALTER TABLE [dbo].[products_images] CHECK CONSTRAINT [FKgar52bmeaf2c9mru6tdit9kik]
GO
ALTER TABLE [dbo].[products_variants]  WITH CHECK ADD  CONSTRAINT [FK17gv8d4qenphr9bx9u3g6tre2] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[products_variants] CHECK CONSTRAINT [FK17gv8d4qenphr9bx9u3g6tre2]
GO
ALTER TABLE [dbo].[products_variants]  WITH CHECK ADD  CONSTRAINT [FKmnjy2u5uhgin5piogd680e5to] FOREIGN KEY([usage_category_id])
REFERENCES [dbo].[usage_categories] ([id])
GO
ALTER TABLE [dbo].[products_variants] CHECK CONSTRAINT [FKmnjy2u5uhgin5piogd680e5to]
GO
ALTER TABLE [dbo].[product_variant_details]  WITH CHECK ADD CHECK  (([status]='DISCONTINUED' OR [status]='OUT_OF_STOCK' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[products_variants]  WITH CHECK ADD CHECK  (([status]='DISCONTINUED' OR [status]='OUT_OF_STOCK' OR [status]='AVAILABLE'))
GO
USE [master]
GO
