USE [master]
GO
/****** Object:  Database [RecommendDB]    Script Date: 19/03/2025 8:09:41 CH ******/
CREATE DATABASE [RecommendDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecommendDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RecommendDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecommendDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RecommendDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecommendDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecommendDB]
GO
/****** Object:  Table [dbo].[user_actions]    Script Date: 19/03/2025 8:09:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_actions](
	[id] [varchar](255) NOT NULL,
	[action_details] [varchar](255) NULL,
	[action_type] [varchar](255) NULL,
	[created_at] [datetime2](6) NULL,
	[customer_id] [varchar](255) NULL,
	[order_id] [varchar](255) NULL,
	[product_id] [varchar](255) NULL,
	[search_query] [varchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[user_actions] ([id], [action_details], [action_type], [created_at], [customer_id], [order_id], [product_id], [search_query], [updated_at]) VALUES (N'0027d9d5-b453-44c5-91c2-b3bfbb0375e4', N'Clicked on product ID c9de2a34-0b4a-4df5-9ac6-b5e3cde1ff95', N'CLICK', CAST(N'2025-02-23T13:14:46.6382810' AS DateTime2), N'ba21e63f-c8cc-41c1-aa7c-bde769860887', N'3c587873-e1a5-4b54-afbb-f2dd5abf0c04', N'c9de2a34-0b4a-4df5-9ac6-b5e3cde1ff95', NULL, NULL)
INSERT [dbo].[user_actions] ([id], [action_details], [action_type], [created_at], [customer_id], [order_id], [product_id], [search_query], [updated_at]) VALUES (N'00642cdc-8c72-424d-bbff-3ccb81f08e88', N'Purchased order ID None', N'PURCHASE', CAST(N'2025-01-10T00:58:46.6446510' AS DateTime2), N'03b95c81-3f2f-4885-8506-2cdb991409a0', NULL, N'77381ee5-6c1a-41a6-becf-d2def8e197e3', NULL, NULL)
INSERT [dbo].[user_actions] ([id], [action_details], [action_type], [created_at], [customer_id], [order_id], [product_id], [search_query], [updated_at]) VALUES (N'00c30f37-ba68-4a1a-9bfc-c6b1ef2983ee', N'Clicked on product ID 828a961c-c4aa-405d-bc9b-c9aa01cd473a', N'CLICK', CAST(N'2024-12-05T00:40:46.6505250' AS DateTime2), N'1baac045-077b-4291-824c-75b2c024aa7b', NULL, N'828a961c-c4aa-405d-bc9b-c9aa01cd473a', NULL, NULL)
GO
ALTER TABLE [dbo].[user_actions]  WITH CHECK ADD CHECK  (([action_type]='SEARCH' OR [action_type]='VIEW' OR [action_type]='ADD_TO_CART' OR [action_type]='CLICK' OR [action_type]='PURCHASE'))
GO
USE [master]
GO
