name: Docker Discovery Service Image CI/CD

on:
  push:
    branches: [ "feature/ci-cd-setup" ]
  pull_request:
    branches: [ "feature/ci-cd-setup" ]

jobs:

  build-push-discoveryservice:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build discovery service image
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push discovery service image
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      run: | 
        docker compose -f docker-compose.yml build discoveryserver
        docker compose -f docker-compose.yml push discoveryserver

  deploy-discoveryservice:
    needs: build-push-discoveryservice
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Transfer deploy script
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_KEY }}
        port: ${{ secrets.SERVER_PORT }}
        source: "scripts/deploy.sh"
        target: "../../scripts/deploy.sh"

    - name: Execute deploy script
      uses: appleboy/ssh-action@v1.2.2
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_KEY }}
        port: ${{ secrets.SERVER_PORT }}
        script: |
          chmod +x /tmp/deploy.sh
          DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }} DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD }} /tmp/deploy.sh