name: Docker Notification Service Image CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-push-notificationservice:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build notification service image
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push notification service image
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      run: | 
        docker compose -f docker-compose.yml build notificationservice
        docker compose -f docker-compose.yml push notificationservice