name: Docker Product Service Image CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-push-productservice:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Build product service image
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push product service image
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      run: | 
        docker compose -f docker-compose.yml build productservice
        docker compose -f docker-compose.yml push productservice

  deploy-productservice:
    needs: build-push-productservice
    runs-on: ubuntu-latest

    steps:
    - name: Deploy product service image
      uses: appleboy/ssh-action@v1.2.2
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_KEY }}
        port: ${{ secrets.SERVER_PORT }}
        script: |
          export DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker pull ${{ secrets.DOCKER_USERNAME }}/productservice:latest
          docker-compose -f docker-compose-deploy.yml up -d productservice